<%- include('../partials/header') %>
<body>
  this is my locations page
  <h1><%= title%></h1>
  <a class="addLocation" href="/locations/new">Add A New Location</a>
</body>
<%- include('../partials/footer') %>
