<%- include('../partials/header') %>
<body>
  <h1 class="enterLocation">Enter a Location</h1>
  <form action="/locations" method="POST">
    <label class="label"
      >➯Name of Business: <input type="text" name="businessName" /> </label
    ><br />
    <br />
    <label class="label">➯Address: <input type="text" name="address" /> </label
    ><br /><br />
    <label class="label"
      >➯Phone Number: <input type="text" name="phoneNo" /> </label
    ><br /><br />
    <label class="label">➯Website: <input type="text" name="website" /> </label
    ><br /><br />

    <input type="submit" value="Add Location" id="locationBtn" />
  </form>
</body>
<%- include('../partials/footer') %>
