<%- include('../partials/header') %>
<h1 class="review">Reviews</h1>
<form action="/reviews/<%=location._id%>" method="POST">
  <textarea name="content" rows="10" cols="130">Write a review here!</textarea>
  <br />
  <button class="reviewBtn">Add Review</button><br />
</form>
<a class="goBackReview" href="/locations">Go Back</a>


  <% if (location.reviews) { %> <% location.reviews.forEach( (r) => { %>
  <li class="reviewContent"><%=r.content%></li>

  <% }); %> <% } else { %>
  <h3>No Reviews Yet</h3>
  <% } %>
  </li>
