<%- include('../partials/header') %>
<h1 class="review">Reviews</h1>
<form action="/locations/reviews/:id" method="POST">
  <body>
    this is my review page
  </body>
  <%- include('../partials/footer') %>
</form>
