<%- include('./partials/header') %>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <div>
    <img
      src="https://i.imgur.com/wk0j9et.jpg"
      style="width:1265px;height:400px;"
    />
  </div>
  <br /><br />
  <div class="slogan">Delivering Kindness Since 2020!</div>
  <div>
    <a class="linkOne" href="/locations">Find Ways To Help</a>
  </div>
</body>
