* {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(169, 212, 212);
}

nav,
a {
  background-color: rgb(243, 191, 139);
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0 30px;
}

nav > img {
  object-fit: contain;
  margin-right: auto;
}

a {
  font-size: 27px;
}

.slogan {
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

.linkOne {
  background-color: rgb(169, 212, 212);
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  text-decoration: underline;
}
