<%- include('../partials/header') %>
<body>
  <div class="container">
    <img
      class="envelope"
      src="https://i.imgur.com/di6AtO0.png"
      width="350px"
      height="250px"
    />

    <div class="centered">
      <a class="locationsLink" href="/locations">Go To Locations</a>
    </div>
  </div>
</body>

<%- include('../partials/footer') %>
